### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
01_Fundamentos/10_Jest/10.1/node_modules

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode
