.super-mario {
    width: 150px;
    position: absolute;
    top: 125px;
    left: 100px;
    z-index: 2;
  }
  
  .goomba {
    width: 70px;
    position: absolute;
    top: 350px;
    left: 100px;
  }
  
  .baloon {
    position: absolute;
    width: 200px;
    left: 375px;
    top: 180px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    width: 200px;
    left: 410px;
    top: 180px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 550px;
    top: 200px;
  }